html {
  //this defines what 1rem is
  font-size: 62.5%; //10px
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--color-grey-dark);
  padding: 3rem;
  box-sizing: border-box;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}