.header {
  display: flex;
  font-size: 1.4rem;
  height: 7rem;
  justify-content: space-between;
  border-bottom: var(--line);
  background-color: #fff;
  align-items: center;
}

.logo {
  width: 4rem;
  margin-left: 1rem;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-self: stretch;
  align-items: center;
  flex: 0 0 30rem;

  @include respond(bp-smaller) {
    display: none;
  }

  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    flex: 1;
    text-transform: uppercase;
    transition: all .2s;
    color: var(--color-blue-dark);

    &:hover {
      background-color: var(--color-blue-light);
      color: #fff;
    }
  }

  &__item:hover &__icon {
    fill: #fff;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-blue-dark);
    transition: all .2s;
  }
}