*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  vertical-align: none;
  box-sizing: inherit;
  background: transparent; }

ol, ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

iframe {
  width: 100%;
  display: block; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

label:focus,
input:focus {
  outline: none; }

button,
input[type="submit"] {
  cursor: pointer; }

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both; }

.clear-both {
  clear: both; }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-blue-lightest: #f0f8fc;
  --color-blue-light: #6288a5;
  --color-blue: #326891;
  --color-blue-dark: #4d7b9f;
  --color-blue-darkest: #265e8b;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

html {
  font-size: 62.5%; }

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--color-grey-dark-2);
  box-sizing: border-box; }

.container {
  max-width: 120rem;
  margin: 3rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
  transition: all .2s; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%;
      min-height: 100vh; } }

.header {
  display: flex;
  font-size: 1.4rem;
  height: 7rem;
  justify-content: space-between;
  border-bottom: var(--line);
  background-color: #fff;
  align-items: center; }

.logo {
  width: 4rem;
  margin-left: 1rem; }

.menu {
  display: flex;
  justify-content: space-around;
  align-self: stretch;
  align-items: center;
  flex: 0 0 30rem; }
  @media only screen and (max-width: 31.25em) {
    .menu {
      display: none; } }
  .menu__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    flex: 1;
    text-transform: uppercase;
    transition: all .2s;
    color: var(--color-grey-dark-3); }
    .menu__item:hover {
      background-color: var(--color-blue-light);
      color: #fff; }
  .menu__item:hover .menu__icon {
    fill: #fff; }
  .menu__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-3);
    transition: all .2s; }

.navigation {
  display: none;
  margin-right: 2rem; }
  @media only screen and (max-width: 31.25em) {
    .navigation {
      display: flex;
      align-items: center;
      align-self: stretch; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__checkbox:checked + .navigation__button {
    margin-top: 2rem;
    background-color: #fff;
    box-shadow: var(--shadow-dark); }
  .navigation__hamburger {
    position: relative;
    margin-top: 3px; }
    .navigation__hamburger, .navigation__hamburger::before, .navigation__hamburger::after {
      width: 3rem;
      height: 2px;
      background-color: var(--color-grey-dark-3);
      display: inline-block; }
    .navigation__hamburger::before, .navigation__hamburger::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__hamburger::before {
      top: -.8rem; }
    .navigation__hamburger::after {
      top: .8rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__hamburger::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__hamburger::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__hamburger {
    background-color: transparent; }
  .navigation__nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: stretch;
    color: #fff;
    height: 100vh;
    width: 0;
    top: 0;
    left: -100vw;
    opacity: 0;
    z-index: 8;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    left: 0; }
  .navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .navigation__background {
    position: fixed;
    height: 100vh;
    width: 0;
    top: 0;
    right: -100vw;
    background-image: linear-gradient(to bottom, var(--color-blue-light), var(--color-blue-darkest));
    z-index: 7;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__checkbox:checked ~ .navigation__background {
    opacity: 1;
    width: 100%;
    right: 0; }
  .navigation__item {
    margin: 1.5rem 0; }
  .navigation__link {
    display: flex;
    align-items: center; }
    .navigation__link:link, .navigation__link:visited {
      color: var(--color-grey-light-2);
      padding: 1rem 3rem;
      text-transform: uppercase;
      font-size: 2rem;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 250%;
      transition: all .4s; }
    .navigation__link:hover, .navigation__link:active {
      background-position: 100%;
      color: var(--color-blue-dark);
      transform: translateX(1rem); }
  .navigation__link:hover > .navigation__icon,
  .navigation__link:active > .navigation__icon {
    fill: var(--color-blue-dark); }
  .navigation__icon {
    fill: var(--color-grey-light-2);
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
    transition: all .4s; }
